* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  opacity: 0.7;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  padding: 0 80px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.logo__img {
  width: 68px;
}

.name__header {
  font-size: 22px;
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.cart {
  width: 24px;
}
